//h1 {
//    text-align: center;
//    border-bottom: 1px solid;
//    padding-bottom: 10px;
//}
//
//p {
//    border-bottom: 1px solid black;
//    padding: 10px;
//    margin: 0;
//}
//
//#content {
//    border: 1px solid black;
//    width: 40%;
//    margin: 0 auto;
//}

/**************************
          VARIABLES
***************************/
@color1: #fded99;
@color2: #837217;
@color3: #5b4d02;
@color4: #fffbe2;
/**************************
          MIXINS
***************************/


/**************************
       MOBILE STYLE
***************************/
html {
    background: url(piano_background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    
    body {
        font-family: helvetica, sans-serif;

        div#content {
            border: 3px outset @color1;
            margin: 0 auto;
            border-radius: 5px;
            background-color: @color4;
            max-width: 500px;

            h1 {
                text-align: center;
                border-bottom: 1px solid @color1;
                padding: 10px; 
                color: @color2;
                background-color: @color1;
                margin: 0;
                border-radius: 5px 5px 0 0;
            }

            div#form {
                padding: 20px 0;
                border-bottom: 1px solid @color1;

                div {
                    padding: 10px 0;
                    margin: 0 auto;
                    width: 200px;
                    font-size: 1.2rem;

                    label {

                    }

                    select {
                        font-size: 1rem;
                        padding: 3px;

                        option {

                        }
                    }
                }

                input {
                    margin: 25px auto 0 auto;
                    display: block;
                    padding: 10px 20px;
                    font-size: 1rem;
                    letter-spacing: 2px;
                    border-color: #7b7f15;
                }
            }

            p {
                padding: 10px;
                margin: 0;
                font-size: 1.5rem;
                text-align: center;
                background-color: @color1;
                color: @color3;

                &:last-of-type {
                    border-radius: 0 0 5px 5px;
                }
                
                &:not(:last-of-type) {
                    border-bottom: 3px ridge @color2;
                }

                span {
                    color: @color2;
                    display: block;
                    padding-top: 10px;
                    font-size: 1.9rem;
                    font-weight: bold;
                }
            }


        }
    }
}


/**************************
       TABLET STYLE
***************************/
@media (min-width: 600px) {
    
}


/**************************
       700PX AND UP STYLE
***************************/



/**************************
       DESKTOP STYLE
***************************/

